@{
    ViewBag.Title = "Home Page";
}
<h2>Posts</h2>

<form id="formPost">
    <div class="row">
        <div class="col-md-12">
            <input type="number" id="Id" name="Id" class="form-control" />
        </div>

        <div class="col-md-12">
            <button type="button" onclick="abrirPost()" class="btn btn-default">Enviar</button>
        </div>
    </div>
</form>

<h1 id="title"></h1>

<p id="body"></p>

@section scripts{
    <script>
        function abrirPost() {
            var id = $('#Id').val();
            $.get('/Home/GetPostById/' + id, function (data) {
                $('#title').text(data.Title)
                $('#body').text(data.Body)
            });
        }
    </script>
}

